.rating {
    position: relative;
    width: 165px;
    height: 33px;
    background: url(./star.png) repeat-x;
    margin: 100px auto;
    overflow: hidden;
}
.rating:hover .rating-item {
    background-image: none;
}
.rating .rating-item:hover {
    background: url(./star.png) repeat-x -1px -40px;
}
.rating input {
    position: absolute;
    left: 0px;
    top: -20px;
}
.rating-item {
    position: absolute;
    top: 0px;
    z-index: 3;
    width: 33px;
    height: 33px;
}
.rating-item-1 {
    left: 0px;
}
.rating-item-2 {
    left: 33px;
}
.rating-item-3 {
    left: 66px;
}
.rating-item-4 {
    left: 99px;
}
.rating-item-5 {
    left: 132px;
}
.rating-item:hover {
    left: 0;
    z-index: 2;
    background: url(./star.png) repeat-x -1px -40px;
}
input:checked + .rating-item {
    left: 0px;
    z-index: 1;
    background: url(./star.png) repeat-x -1px -40px;
}
input:checked + .rating-item ~ .rating-item:hover {
    z-index: 0;
}
.rating-item-1:hover, #rating-1:checked + .rating-item {
    width: 33px;
}
.rating-item-2:hover, #rating-2:checked + .rating-item {
    width: 66px;
}
.rating-item-3:hover, #rating-3:checked + .rating-item {
    width: 99px;
}
.rating-item-4:hover, #rating-4:checked + .rating-item {
    width: 132px;
}
.rating-item-5:hover, #rating-5:checked + .rating-item {
    width: 165px;   
}
.rating-item label {
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
}