body {
    background-color: #161922;
}
.box {
    width: 800px;
    height: 280px;
    margin: 30px auto;
}
.box .link {
    width: 350px;
    height: 380px;
    float: left;
    margin: 0 20px;
}
.link .icon {
    display: inline-block;
    width: 100%;
    height: 280px;
    transition: all 0.2s ease-out;
    /* -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.3s ease-out; */
}
.link-retro .icon {
    background: url(../images/retro.png) no-repeat center center/80% 80%;
}
.link-bigenough .icon {
    background: url(../images/bigenough.png) no-repeat center center/80% 80%;
}
.link .icon:hover {
    transform: rotate(360deg) scale(1.1);
    /* -ms-transform: rotate(360deg) scale(1.1);
    -moz-transform: rotate(360deg) scale(1.1);
    -webkit-transform: rotate(360deg) scale(1.1);
    -o-transform: rotate(360deg) scale(1.1); */
}
.button {
    position: relative;
    left: 25px;
    display: block;
    width: 300px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
    color: #2DCB70;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: 2px solid rgba(255, 255, 255, 0.8);
    padding-left: 20px;
    box-sizing: border-box;
    /* -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box; */
    transition: all 0.2s ease-out;
    /* -ms-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    -o-transition: all 0.3s ease-out; */
}
.button::after {
    position: absolute;
    top: 0px;
    left: 200px;
    display: block;
    content: '→';
    width: 50px;
    height: 46px;
    line-height: 46px;
    font-size: 30px;
}
.button:hover{
    border: 2px solid rgba(255, 255, 255, 1);
}